version: "3.5"

services:
  dabih-api:
    container_name: dabih-api
    #update this image version tag to deploy new versions
    image: thespanglab/dabih-api:v1.9.1
    environment:
      - CONFIG=/etc/config.yaml
    restart: always
    ports:
      - 8081:8081
    volumes:
      - ./config.yaml:/etc/config.yaml
      - dabih-data:/data
    healthcheck:
      test: curl --fail http://localhost:8081/healthy
      interval: 10s
      timeout: 2s
      retries: 10
    tty: false
    stdin_open: false

  dabih-client:
    container_name: dabih-client
    # update this image version tag to deploy new versions
    image: thespanglab/dabih-client:v1.9.1
    ports:
      - 3000:3000
    environment:
      - NEXTAUTH_URL=http://localhost:8081
      - NEXTAUTH_SECRET=YOUR_SECRET_HERE
    restart: always
    depends_on:
      dabih-api:
        condition: service_healthy
    tty: false
    stdin_open: false

  dabih-caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

# This is where all the data will be stored
# Check https://docs.docker.com/storage/volumes/
# if you want to use a specific folder or nfs mount
volumes:
  dabih-data:
    external: true
  caddy_data:

networks:
  default:
    name: dabih_default
