@tailwind base;
@tailwind components;
@tailwind utilities;

.shaking {
  animation: shaking-elem 0.2s linear 2;
}

@keyframes shaking-elem {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
