{
  "root": true,
  "extends": ["airbnb"],
  "plugins": ["github"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "github/no-then": "error",
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": "node"
  }
}
